[submodule "STMLIB"]
	path = STMLIB
	url = https://github.com/poetaster/STMLIB.git
[submodule "PLAITS"]
	path = PLAITS
	url = https://github.com/poetaster/PLAITS.git
[submodule "BRAIDS"]
	path = BRAIDS
	url = https://github.com/poetaster/BRAIDS.git
[submodule "TIDES"]
	path = TIDES
	url = https://github.com/poetaster/TIDES.git
[submodule "ELEMENTS"]
	path = ELEMENTS
	url = https://github.com/poetaster/ELEMENTS.git
[submodule "CLOUDS"]
	path = CLOUDS
	url = https://github.com/poetaster/CLOUDS.git
[submodule "RINGS"]
	path = RINGS
	url = https://github.com/poetaster/RINGS.git
